:root {
  --text-color: #4f4f4f;
  --heading-color: #3f3f3f;
  --footer-link: #6f6f6f;
  --text-light: #999;
  --color-white: #fff;
  --bg-primary: #005897;
  --bg-red: #dc3545;
  --bg-green: #25cb68;
  --bg-secondary: #c1e4f9;
  --bg-secondary-light: #d0e6fd;
  --bg-gray: #eef5f9;
  --bg-dark-gray: #cbd5e1;
  --bg-white: #fff;
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Regular.eot);
  src: url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Regular.woff2)
      format("woff2"),
    url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Regular.woff)
      format("woff"),
    url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Regular.ttf)
      format("truetype"),
    url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Regular.svg#svgFontName)
      format("svg");
  font-display: swap;
}
@font-face {
  font-family: "MyriadPro-Semibold";
  src: url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Semibold.eot);
  src: url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Semibold.eot?#iefix)
      format("embedded-opentype"),
    url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Semibold.woff2)
      format("woff2"),
    url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Semibold.woff)
      format("woff"),
    url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Semibold.ttf)
      format("truetype"),
    url(https://d3lclm53tbcdw6.cloudfront.net/fonts/MyriadPro-Semibold.svg#svgFontName)
      format("svg");
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  font-size: 15px;
  font-family: MyriadPro-Regular, sans-serif;
  color: var(--text-color);
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: MyriadPro-Semibold, sans-serif;
  color: var(--heading-color);
}
p {
  margin-bottom: 0.75rem;
}
::placeholder {
  font-family: MyriadPro-Regular;
  color: var(--text-light);
}
::-webkit-input-placeholder {
  font-family: MyriadPro-Regular;
  color: var(--text-light);
}
::-moz-placeholder {
  font-family: MyriadPro-Regular;
  color: var(--text-light);
}
:-ms-input-placeholder {
  font-family: MyriadPro-Regular;
  color: var(--text-light);
}
:-moz-placeholder {
  font-family: MyriadPro-Regular;
  color: var(--text-light);
}
.bg-theam,
.bg-vh-theam {
  background-color: var(--bg-primary);
}
.bg-theam-2,
.bg-vh-4,
.bg-vh-secondary {
  background-color: var(--bg-secondary);
}
.theam-color {
  color: var(--bg-primary);
}
a {
  outline: 0;
  border: 0;
  text-decoration: none;
  color: var(--bg-primary);
}
h1,
.h1 {
  font-size: 2.15em;
}
h2,
.h2 {
  font-size: 1.75em;
}
h3,
.h3 {
  font-size: 1.45em;
}
h4,
.h4 {
  font-size: 1.3em;
}
h5,
.h5 {
  font-size: 1.15em;
}
h6,
.h6 {
  font-size: 1em;
}
small {
  font-size: 0.85em;
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1360px;
  }
}
@media screen and (min-width: 1500px) {
  .container {
    max-width: 1480px;
  }
}
@media only screen and (max-width: 1399px) {
  .container {
    max-width: 1240px;
  }
}
@media screen and (max-width: 1250px) {
  .container {
    max-width: 1170px;
  }
}
@media only screen and (max-width: 1199px) {
  .container {
    max-width: 975px;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 570px;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
}
.has-arrow {
  position: relative;
}
.ms-nav-arrow {
  position: absolute;
  width: 85px;
  top: 5px;
  right: 5px;
  height: 100%;
  z-index: 99;
}
.go-back > a::after,
.go-back > a::before,
.ms-nav-arrow::after,
.ms-nav-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #282727;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ms-nav-arrow::after,
.ms-nav-arrow::before {
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}
.ms-nav-arrow::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ms-nav-arrow::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menuhamburger {
  width: 40px;
  height: auto;
}
@media screen and (min-width: 769px) {
  .has-arrow {
    padding-right: 20px;
  }
  nav.ms-main-nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .sidebar-title {
    display: none;
  }
  .main-menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1em;
  }
  .main-menu li {
    display: inline-block;
    position: relative;
  }
  .main-menu li a {
    display: block;
    padding: 15px 10px;
    text-decoration: none;
    color: unset;
  }
  .main-menu li:first-child a {
    padding-left: 0;
  }
  ul.drop-menu li:first-child a {
    padding-left: 10px;
  }
  .has-arrow {
    display: inline-block;
    width: 100%;
  }
  .main-menu li ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    border-left: 1px solid #fff0;
  }
  .ms-nav-arrow::after,
  .ms-nav-arrow::before {
    right: 10px;
  }
  .ms-nav-arrow {
    width: 20px;
    transform: rotate(90deg);
  }
  li.drop-submenu .ms-nav-arrow {
    transform: rotate(0);
  }
  .main-menu > li {
    border-bottom: 5px solid transparent;
  }
  .main-menu li.active,
  .main-menu > li:hover {
    background-color: transparent;
    border-bottom: 5px solid var(--bg-primary);
  }
  .main-menu li:hover > ul {
    display: block;
  }
  .drop {
    position: relative;
  }
  .drop-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 260px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 13px;
    text-align: left;
    list-style: none;
    background-color: var(--bg-white);
    background-clip: padding-box;
    border-radius: 4px;
  }
  ul.drop-menu {
    padding-right: 0;
    border: unset;
    background-color: #eee;
    border-top: 5px solid #fff0;
  }
  .drop-submenu > .drop-menu {
    margin-top: -10px;
  }
  ul.drop-menu li {
    display: block;
  }
  .drop-submenu > .drop-menu {
    top: 0;
    left: 100%;
    margin-top: -10px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  .drop-menu li a {
    display: block;
    padding: 6px 10px;
    clear: both;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.42857143;
    white-space: nowrap;
  }
  ul.drop-menu li {
    display: block;
    color: #333;
  }
  .drop-menu li a:hover {
    color: var(--bg-primary);
  }
  ul.drop-menu li:hover {
    color: var(--bg-primary);
  }
  .custom-accordion .accordion-item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  .menuhamburger-icon a {
    display: flex;
    justify-content: flex-end;
  }
  .hide-overflow {
    overflow: hidden;
    height: 100%;
  }
  .sidebar-title {
    display: block;
    clear: both;
    color: var(--color-white);
    padding: 10px 0;
    font-weight: 700;
    background: var(--bg-primary);
  }
  .cross-ms-main-nav {
    cursor: pointer;
    color: var(--color-white);
    font-size: 36px;
    padding: 5px 10px;
    position: absolute;
    left: -60px;
    top: 0;
  }
  .close-search {
    position: absolute;
    top: 15px;
    right: 100px;
    color: #a5a4a4;
    font-size: 23px;
    cursor: pointer;
    width: 30px;
    text-align: center;
    z-index: 1e20;
    -webkit-transform: scale(2, 1);
    -moz-transform: scale(1.5, 1);
    -ms-transform: scale(1.5, 1);
    -o-transform: scale(1.5, 1);
    transform: scale(1.5, 1);
  }
  .ms-main-nav {
    box-shadow: 4px 0 6px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0 11px #999;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: hsl(0deg 0% 94%);
    width: 300px;
    z-index: 9999999;
    transition: transform 0.5s;
    -webkit-transform: translateX(500px);
    -ms-transform: translateX(500px);
    transform: translateX(500px);
  }
  .ms-menu-inner {
    overflow: hidden;
    height: 100%;
  }
  .ms-main-nav ul {
    list-style: none;
    padding: 0;
    height: auto;
    margin: 0;
    position: relative;
    overflow-x: hidden;
  }
  .main-menu {
    width: 100%;
    float: left;
  }
  .ms-main-nav li {
    text-align: left;
    display: block;
  }
  .ms-main-nav a {
    display: block;
    color: #262525;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    position: relative;
    font-weight: 400;
  }
  .ms-main-nav .sidebar-title a {
    line-height: 0;
    border-bottom-width: 0;
  }
  .submenu {
    position: fixed;
    width: 100%;
    height: 100%;
    font-weight: 700;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #f0f0f0;
    transition: transform 0.5s;
    visibility: hidden;
  }
  .ms-main-nav nav li:hover .submenu {
    display: block;
  }
  .menuwrp {
    width: 100%;
    position: relative;
    float: left;
    padding: 0;
  }
  .has-children > a {
    padding-right: 20px;
  }
  .go-back > a {
    padding-left: 48px;
    color: var(--bg-primary) !important;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    font-weight: 600;
  }
  .go-back > a::after,
  .go-back > a::before {
    left: 15px;
    top: 23px;
    -webkit-transform-origin: 9px 50%;
    -moz-transform-origin: 9px 50%;
    -ms-transform-origin: px 50%;
    -o-transform-origin: 9px 50%;
    transform-origin: 9px 50%;
  }
  .go-back > a::before {
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    transform: rotate(140deg);
  }
  .go-back > a::after {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  .go-back > a::after,
  .go-back > a::before {
    background: var(--bg-primary) !important;
  }
  .ms-main-navshow {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
  .ms-main-nav nav > ul > li:hover > a {
    box-shadow: inset 2px 0 0 #009688;
    color: #009688;
  }
  .ms-main-nav nav > ul > li:hover > a::after,
  .ms-main-nav nav > ul > li:hover > a::before,
  .submenu ul li:hover > a::after,
  .submenu ul li:hover > a::before {
    background: #4b4d4d;
  }
  .menuwrp > ul > li:hover > a,
  .submenu ul li:hover > a {
    color: #4b4d4d;
  }
  .topmenu-btn {
    display: inline-block;
    cursor: pointer;
  }
  span.menutext {
    position: relative;
    top: 4px;
  }
  .nav-toggle {
    width: 30px;
    float: left;
    background: #009688;
    display: block;
    padding: 5px;
  }
  .nav-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--bg-white);
    margin: 3px 0;
  }
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  .content,
  header {
    margin: 0 auto;
  }
  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    left: 0;
    top: 0;
    display: none;
    z-index: 999;
  }
}
@media screen and (max-width: 1024px) {
  .submenu {
    overflow: auto;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .row.bg-header {
    margin-left: -15px;
    margin-right: -15px;
    justify-content: space-between;
  }
}
ul#topContact li:last-child {
  background: var(--bg-red);
  border-radius: 4px !important;
  filter: drop-shadow(0 0 5px #555) !important;
}
div#search-suggestionsblock ul,
#search-suggestions-mobile ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
div#search-suggestionsblock a,
#search-suggestions-mobile a {
  display: flex;
  align-items: center;
  gap: 10px;
}
div#search-suggestionsblock ul li span,
#search-suggestions-mobile ul li span {
  display: block;
  font-size: 0.8em;
  opacity: 0.7;
  font-weight: 400;
  line-height: 1;
}
div#search-suggestionsblock ul li,
#search-suggestions-mobile ul li {
  line-height: 1.25;
  padding: 7px 0;
  font-size: 16px;
  font-weight: 600;
  white-space: break-spaces;
}
div#search-suggestionsblock a img,
#search-suggestions-mobile a img {
  height: 36px;
  max-width: 44px;
}
#search-suggestionsblock,
#search-suggestions-mobile {
  padding: 5px 10px;
}
.become-partner,
.select-lang {
  height: 48px;
}
.mobile-search select.lang_opt,
.desktop-lang select.lang_opt {
  width: auto;
  height: 32px;
  font-size: 0.8em;
  background: var(--bg-white);
  border-radius: 6px;
  padding: 0 5px;
  border: none;
  border-radius: 30px;
}
select:focus-visible {
  outline: 1px solid #eee;
}
.contactMenu {
  text-align: right;
  z-index: 9;
  display: flex;
  justify-content: flex-end;
}
.vh-logo {
  display: inline-block;
  width: 100%;
  max-width: 170px;
  text-align: center;
}
.logo {
  font-size: 30px;
  display: inline;
  line-height: 1;
}
.tagline {
  padding-top: 5px;
  letter-spacing: 1px;
  font-size: 12px;
  display: inline-block;
  zoom: 95%;
}
@media screen and (max-width: 520px) {
  .logo {
    font-size: 26px;
  }
  .tagline {
    letter-spacing: normal;
  }
  .headerimgaes,
  #menu-bar {
    text-align: right;
  }
}
div#topContact {
  display: flex;
  justify-content: flex-end;
  column-gap: 16px;
  align-items: center;
}
div#topContact a {
  color: var(--color-white);
}
.banner-search {
  width: 100%;
  margin-left: auto;
  float: right;
  padding: 5px 0;
}
.searchbar-home {
  text-align: center;
  margin: 0 auto;
  float: none;
  position: relative;
}
.searchbar {
  width: 100%;
  position: relative;
  display: inline-block;
}
.searchTerm::placeholder {
  font-size: 0.85em;
  font-weight: 300;
}
.searchTerm:focus-visible {
  outline: 1px solid #c1e4f9;
}
#search-suggestionsblock {
  border: 1px solid #ccc;
  background: var(--bg-white);
  padding: 5px 10px;
  position: absolute;
  width: 100%;
  text-align: left;
  left: 0;
  z-index: 99;
  right: 0;
  margin: 0 auto;
}
div#search-suggestionsblock a {
  color: var(--bg-primary);
}
@media screen and (max-width: 768px) {
  .mob_layout .search-button {
    right: 36px;
  }
  #closemob_search {
    position: absolute;
    right: 1px;
    width: 35px;
    height: 40px;
    border: 0;
    top: 1px;
  }
  .mob_layout {
    position: fixed;
    height: 95vh;
    z-index: 99;
    top: 0;
  }
  #search-suggestionsblock {
    height: 82vh;
    overflow-x: auto;
    border-radius: 15px;
  }
}
.form-control {
  width: 100%;
  height: 38px;
  border: 1px solid #dee2e6;
  box-shadow: none;
  padding-left: 18px;
  border-radius: 8px;
}
.form-control:focus-visible,
textarea:focus-visible {
  outline: unset;
}
.form-control:focus,
textarea:focus {
  box-shadow: none;
  border-color: var(--bg-red);
}
.arrow-input .form-control {
  background: 0 0;
  z-index: 1;
  position: relative;
}
textarea.form-control {
  height: 76px;
}
.arrow-input .bi-chevron-down {
  right: 16px;
  top: 12px;
  position: absolute;
}
.readmore,
.readmore-outline,
.readmore-blue {
  background: var(--bg-red);
  color: var(--color-white);
  line-height: 40px;
  padding: 0 30px;
  font-weight: 500;
  display: inline-block;
  box-shadow: none;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.serach-main {
  position: relative;
}
.link-list {
  width: 20%;
  height: auto;
  float: left;
  padding-right: 15px;
}
.link-list a {
  display: block;
  width: 100%;
  color: #eee;
}
.link-list h4 {
  margin-top: 15px;
}
.footer-link .list-unstyled li {
  display: inline-block;
  padding: 0 10px;
}
.footer-link .list-unstyled li a {
  color: var(--color-white);
}
.footer-address .icon {
  width: 80px;
  height: 80px;
}
.footer-address .address,
.footer-address .email,
.footer-address .phone {
  width: calc(100% - 96px);
}
.footer-social {
  display: flex;
  gap: 15px;
  justify-content: center;
}
#btn-back-to-top {
  position: fixed;
  bottom: 22px;
  right: 20px;
  display: none;
}
@media screen and (max-width: 1024px) {
  .link-list {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .link-list {
    width: 33%;
  }
  section.bg-theam.py-2 {
    padding-bottom: 0 !important;
  }
}
@media screen and (max-width: 520px) {
  .link-list {
    width: 50%;
  }
  .footer-social {
    justify-content: left;
  }
  #btn-back-to-top {
    bottom: 68px;
  }
  .vh-logo {
    zoom: 90%;
  }
  .logo {
    font-size: 28px;
  }
}
.mobile-search,
.mobile-nabh,
.close-serach-100 {
  display: none;
}
@media only screen and (max-width: 767px) {
  .desktop-nabh,
  .desktop-lang {
    display: none !important;
  }
  .mobile-search,
  .mobile-nabh {
    display: block;
  }
  .vh-search {
    background: var(--bg-secondary) !important;
    padding-top: 2px;
    margin-top: 8px;
  }
  .searchbar {
    width: 85% !important;
  }
  .mobile-nabh {
    max-width: 37px;
    height: auto;
    display: inline-block !important;
  }
}
.mobile-lang {
  width: auto;
  height: 32px;
  font-size: 0.9em;
  background: var(--bg-secondary-light);
  border-radius: 6px;
  padding: 0 4px;
  border: none;
  border-radius: 30px;
}
.mobile-nabh {
  display: none;
}
.vh-search {
  background: 0 0;
}
.searchTerm {
  width: 100%;
  padding: 5px 10px 4px 14px;
  height: 40px;
  color: var(--text-light);
  font-size: 0.9em;
  border-radius: 55px;
}
.search-button {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 32px;
  height: 28px;
  border: none;
  cursor: pointer;
  color: var(--bg-primary);
  background: 0 0;
}
.search-button img {
  height: 21px !important;
  width: 21px !important;
}
.mobile-nabh {
  max-width: 37px;
  height: auto;
  display: none;
  border-radius: 10px;
}
.search-100-on-mob {
  position: fixed;
  top: -5px;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: #efefef !important;
  display: flex !important;
  align-items: flex-start !important;
}
.search-100-on-mob img.mobile-nabh {
  display: none !important;
}
.close-serach-100 {
  display: none;
}
.search-100-on-mob .close-serach-100 {
  display: inline-block;
  padding: 5px 13px;
  margin-left: 5px;
  line-height: 1.5;
}
.btn-wp,
.btn.btn-success {
  background-color: var(--bg-green) !important;
  color: var(--color-white);
}
.bottom-menu.show {
  opacity: 1;
}
.bottom-menu {
  position: fixed;
  bottom: 0;
  color: var(--color-white);
  width: 100%;
  height: auto;
  padding: 10px;
  background: var(--bg-white);
  z-index: 1;
  transition: all 0.5s;
  -webkit-box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.18);
  box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.18);
  display: none;
  opacity: 0;
}
.bottom-menu a {
  display: inline-block;
  width: 48%;
  text-align: center;
}
.readmore-outline:hover {
  background: var(--bg-red);
  color: var(--color-white);
  border-color: var(--bg-red);
}
.readmore-blue {
  background: var(--bg-primary);
  border-color: var(--bg-primary);
}
.readmore-blue:hover,
.readmore-blue:focus,
.readmore-blue:active {
  background: var(--bg-red);
  border-color: var(--bg-red);
  color: var(--color-white);
}
.readmore img {
  position: relative;
  top: -2px;
}
.readmore.whatsapp-color {
  background: var(--bg-green);
  border-color: var(--bg-green);
}
.readmore.whatsapp-color:hover,
.readmore.whatsapp-color:focus,
.readmore.whatsapp-color:active {
  color: var(--color-white);
}
@media only screen and (max-width: 767px) {
  .logo-section {
    padding-bottom: 0;
  }
  .bottom-menu.show {
    display: block;
  }
  .readmore,
  .readmore-blue,
  .readmore-outline {
    line-height: 40px;
    padding: 0 23px;
  }
  .readmore img {
    width: 22px;
  }
  footer {
    padding-bottom: 60px;
  }
}
.btn {
  font-size: 0.95em;
  line-height: 40px !important;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 520px) {
  img {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.35));
  }
  .center-on-mob {
    justify-content: center !important;
  }
}
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 999;
  color: #111;
  right: 20px;
  line-height: 36px;
  width: 44px;
  bottom: 68px;
  border-radius: 50%;
  overflow: hidden;
}
.scroll-top-wrapper .scroll-top-inner {
  background: var(--bg-red);
  color: var(--color-white);
  display: block;
  width: 44px;
  height: 44px;
}
.scroll-top-wrapper .scroll-top-inner i {
  font-size: 26px;
  display: block;
  line-height: 48px;
}
.scroll-top-wrapper:hover .scroll-top-inner {
  background: var(--bg-primary);
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}
.custom-accordion .accordion-item {
  border: none;
  margin-bottom: 12px;
}
.custom-accordion .accordion-button {
  border: 1px solid var(--bg-primary);
  border-radius: 10px !important;
  background: 0 0;
  box-shadow: none;
  font-weight: 500;
  color: var(--bg-primary);
}
.custom-accordion .accordion-button:not(.collapsed),
.custom-accordion .accordion-button:not(.collapsed) h3 {
  color: var(--color-white);
  background: var(--bg-primary);
}
.custom-accordion .accordion-button:after {
  background: 0 0;
  content: "+";
  font-family: var(--icon-bs);
  transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.custom-accordion .accordion-button:not(.collapsed):after {
  content: "-";
}
.custom-accordion .accordion-button h3 {
  color: var(--bg-primary);
}
.related-link-box ul {
  padding-left: 0;
}
.related-link-box ul li {
  display: inline-block;
  position: relative;
  padding-left: 12px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.related-link-box ul li a {
  color: var(--footer-link);
}
.related-link-box ul li:after {
  content: "";
  height: 15px;
  width: 11px;
  background: url(https://www.vaidam.com/assets/img/link-icon.png) center
    no-repeat;
  background-size: cover;
  position: absolute;
  left: -2px;
  top: 3px;
}
.btn.bg-vh-theam:hover {
  background-color: #00528d;
}
.right-form .bg-theam-2,
.form-col-box.bg-vh-secondary,
.form-col-box.bg-theam-2,
.custom-form-container.bg-theam-2,
.blue-bx.need-help-form,
.form-col-box.bg-vh-secondary,
#custom-form,
#custom-form h2.modeofconsultation {
  background: #005897 !important;
  background-color: #005897 !important;
  color: #fff !important;
}
.right-form .formtns-triger,
.form-col-box .formtns-triger,
.form-col-box .formtns-triger,
.custom-form-container .formtns-triger,
.blue-bx.need-help-form .formtns-triger,
#custom-form .formtns-triger {
  color: #c1e4f9 !important;
}
.right-form .formtns-triger a,
.form-col-box .formtns-triger a,
.form-col-box .formtns-triger a,
.custom-form-container .formtns-triger a,
.blue-bx.need-help-form .formtns-triger a,
#custom-form .formtns-triger a,
.modeofconsultation.h2 {
  color: #fff !important;
}
.ms_v_cta_heading img {
  display: none !important;
}
.autocomplete {
  position: relative;
}
.autocomplete .autocomplete-items {
  background: #fff;
  color: #333;
  padding: 10px;
  border-radius: 8px;
  top: 36px;
  width: 95%;
  height: 260px;
  z-index: 1;
  position: absolute;
  overflow-y: auto;
}
.office-address li,
.office-address ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media screen and (max-width: 768px) {
  .office-address {
    width: 100%;
  }
}
